body {
    font-size: 14px;
    line-height: 1.5;
    min-width: 280px;
    max-width: 640px;
    margin: 0 auto;
    /* background-color: pink; */
    font-family: "Noto Sans KR", serif;
}

header {
    background-color: white;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon__berger_menu {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.icon__berger_menu :hover {
    color: orange;
}

.header__tab {
    /* overflow: hidden; */
    border-bottom: 0.5px solid #ccc;
    /* background-color: #f1f1f1; */
    list-style: none;
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 0;
}

.header__tab li {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    color: grey;
    cursor: pointer;
}

.header__tab :nth-child(1) {
    font-weight: 500;
    border-bottom: 1px solid black;
    color: black;
}

.header__tab li:hover {
    color: orange;
}

header h1 {
    text-align: center;
    font-size: 25px;

    font-weight: 400;
}
header h1 b {
    font-weight: 600;
}

main .section {
    padding: 0 10px;
}
main .banner {
    background-image: url("./banner.png");
    background-size: cover;
    height: 200px;
    background-repeat: no-repeat;
}

main ul {
    display: block;
    background-color: pink;
}
main ul li {
    /* background-color: orange; */
    list-style: none;

    /* margin: 0;
    padding: 0; */
}

footer {
    padding: 20px 20px 15px;
    background-color: #f2f2f2;
}

footer a {
    color: black;
    text-decoration: none;
}

.area_foot {
    /* margin-left: 10px; */
    color: rgb(139, 139, 139);
}

.area_policy {
    margin-top: 20px;
    text-align: center;
}

.area_policy a {
    border-right: solid 0.5px grey;
    padding: 0px 5px;
    font-size: 10px;
    color: gray;
}

.area_copy {
    margin: 5px 0;
    text-align: center;
}

.area_copy a {
    font-size: 12px;
    color: rgb(201, 201, 201);
}
